<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>{{ .title }}</h1>
    {{ range .games }}
    <div class="image-container" onclick="createHeart(event)">
        <img src="{{ .image }}" alt="{{ .name }}" class="main-image">
    </div>
    <button class="start-button" onclick="location.href='/name'">
        {{ .name }}
    </button>
    {{ end }}

    <script src="/static/js/action.js"></script>
</body>

</html>